@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,700&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--bg-color); */
}

body {
    background-color: var(--bg-color);
}

img {
    display: block;
    width: 100%;
}

:root {
    --main-color: white;
    --black-color: black;
    --bg-color: #ececec;
    --text-btn: rgb(240, 191, 76);
    --taxt-btn-blue: #0000FF;
    --text-blue-color:#1088e4;
    --items_text-color: rgb(137, 137, 137);
    --rent-text-color: rgb(102, 102, 102);
    --offices-color: #222;
    --offices-text-color: rgba(255, 255, 255, 0.67);
    --offer-btn: #666;
    scroll-behavior: smooth;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.menu_title {
    text-align: center;
    text-align: center;
    color: var(--black-color); 

}

a {
    color: var(--black-color);
    text-decoration: none;
}

.title {
    text-align: center;
    font-size: 14px;
    font-family: Ubuntu;
    color: var(--text-btn);
}

.items_text {
    text-align: center;
    font-size: 20px;
    font-family: Ubuntu;
    color: var(--items_text-color);
}
.frequently-asked-questions{
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    font-size: 60px;
    color: #fff;
}
.faq-description{
    color:#898989 ;
    font-family: 'Ubuntu', sans-serif;
 text-align: center;
 padding-bottom: 10px;
}
.faq-description-1{
    color:#898989 ;
    font-family: 'Ubuntu', sans-serif;
 text-align: left;
}
.faq-description-2{
    color:#898989 ;
    font-family: 'Ubuntu', sans-serif;
 text-align: right;
}
.faq-header-1{
    text-align: left;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 40px;
    color: #fff;
}
.faq-header-2{
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 40px;
    color: #fff;
}
.faq-header-3{
    text-align:right;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 40px;
    color: #fff;
}
.faq{
    background-color: #222;
   
   
   
  
}

