.feedback__carousel__slides >  {
    width: 50%;
            margin: auto;
}
.feedback__carousel__slides  img{
    width: 170px;
    height: 170px;
    margin: auto;
    border-radius: 100px;
    object-fit: cover;
}
.feedback__carousel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback-btn__prev{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin-top: -10px;
    top: 50%;
    border-right: 10px solid #337AB7;
    left: -10px;
}
.feedback-btn__next{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin-top: -10px;
    top: 50%;
    border-left: 10px solid #337AB7;
    left: auto;
    
    right: -10px;
}